.icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 10px;
}

.first {
  background-color: #e70f1a;
  color: white;
 
}

.first-zard {
  background-color: yellow;
  color: white;
 
}